html{
    background-color: cadetblue;
}

body{
    margin: auto;
    padding-top: 3%;
    width: 80%;
}

#menu{
    display: flex;
    width: 100%;
    background-color: darkcyan;
    justify-content: baseline;
}

#menu_left{
    width: 75%;
}
#menu_left > ul {
    display: flex;
    padding: 0px;
    flex-flow: row wrap;
    /* justify-content: center; */
    align-items: center;
    margin: auto;
    height: 35px;
}

#menu_left > ul > li{
    display: grid;
    align-items: center;
    width: auto;
    height: 100%;
    list-style-type: none;
    padding: 0px 15px;
    border: 3px;
}

#menu_left > ul > li:hover{
    background-color: aliceblue;
    cursor: pointer;
}

#menu_right{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    min-width: 240px;
    margin: auto;

}





div.Anime-list {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;/* flex-wrap: wrap; */
    justify-content: space-between;
    background-color: rgb(20, 103, 56);    
    width: auto ;
    
}

div.Anime-card {
    background-color: aquamarine;
    width: 280px;
    display: block;
    align-items: center;
    align-content: center;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid black;
}

div.Anime-card>h1 {
    margin: auto;
    margin-bottom: 10px;
    font-size: 25px;
    word-wrap: break-word;
}

div.Anime-card>h3 {
    margin: auto;
    vertical-align: middle;
    font-size: 20px;
}